<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<title>Add Employee</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
			<form action="{{ url_for('addEmployee') }}" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>

				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>

            	<label for="firstname">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="firstname" placeholder="Firstname" id="firstname" required>

				<label for="lastname">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="lastname" placeholder="Lastname" id="lastname" required>

				<label for="usertype">
					<i class="fas fa-truck"></i>
				</label>
				<input list="usertypes" name="usertype" id="usertype" required>
					<datalist id="usertypes">
						<option value="Admin">
						<option value="Mechanic">
						<option value="Driver">
					</datalist>
				</input>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Add">
			</form>
		</div>
	</body>
</html>
