<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<title>Add Entry</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>ADD ENTRY</h1>
			<form action="{{ url_for('addEntry') }}" method="post" autocomplete="off">
				<label for="mileage">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="mileage" placeholder="Current Mileage" id="mileage" required>

				<label for="entrydate">
					<i class="fas fa-lock"></i>
				</label>
				<input type="date" name="entrydate" placeholder="Date of Entry" id="entrydate" required>
				<label for="services">
					<i class="fas fa-lock"></i>
				</label>
				<select name="services" id="services" multiple>
					{% for service in serviceList %}
					<option value="{{ service.ServiceName }}">{{ service.ServiceName }}</option>
					{% endfor %}
				</select>
				<label for="note">
					<i class="fas fa-lock"></i>
				</label>
				<input type="textarea" name="note" placeholder="Note" id="note">
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Add Entry">
			</form>
		</div>
	</body>
</html>