{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>ADMIN PAGE</h2>
<p>Welcome to TRUCK TRACKER</p>
<div> <a href=""><i class="fas fa-sticky-note"></i>Notes</a></div>
<div> <a href="{{ url_for('employees') }}"><i class="fas fa-users"></i>Employees</a></div>
<div> <a href=""><i class="fas fa-truck"></i>Truck/Trailer List</a></div>
<div> <a href="{{ url_for('addVehicle') }}"><i class="fas fa-truck"></i>Add Vehicle</a></div>
<div> <a href=""><i class="fas fa-tools"></i>Services</a></div>

{% endblock %}