{% extends 'layout.html' %}

{% block title %}Manual{% endblock %}

{% block content %}
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <div class="d-grid gap-2 d-md-block">
      <div> <a class="btn btn-secondary btn-sm btn-block" href="{{ url_for('home') }}"><i class="fas fa-user"></i>Home</a></div>
      </div>
    </header>
<div class="p-5 mb-4 bg-light border rounded-3 text-center container">
  <div class="container-md py-5 d-grid gap-4">
    <h2 class="fw-bold">User Manual</h2>
</div>
<div>
  <center>
    <a href="#intro">1. Introduction</a><br>
    <a href="#home">2. Home Page</a><br>
    &nbsp<a href="#admin">2.1 Admin Page</a><br>
    &nbsp<a href="#mech">2.2 Mechanic Page</a><br>
    &nbsp<a href="#drive">2.3 Driver Page</a><br>
    <a href="#notes">3. Notes</a><br>
    <a href="#employees">4. Employees</a><br>
    <a href="#vehicles">5. Truck/Trailer List</a><br>
    <a href="#services">6. Services</a><br>
  </center>
</div>
<div id="intro">
  This is the intro section
</div>
<div id="home">
  This is the home section
</div>
<div id="admin">
  This is the admin section
</div>
<div id="mech">
  This is the mechanic section
</div>
<div id="drive">
  This is the driver section
</div>
<div id="notes">
  This is the notes section
</div>
<div id="employees">
  This is the employees section
</div>
<div id="vehicles">
  This is the truck/trailer section
</div>
<div id="services">
  This is the services section
</div>
<footer class="pt-3 mt-4 text-muted border-top">
  &copy; Truck Tracker 2021-2030
</footer>
</div>
</main>
{% endblock %}
