{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <div class="d-grid gap-2 d-md-block">
      <div> <a class="btn btn-secondary btn-sm btn-block" href="{{ url_for('viewProfile')}}">Back</a></div>
      </div>
    </header>
<h2 class="fw-bold"> Update Profile Page</h2>
      <div class="p-5 mb-4 bg-light border rounded-3 text-center container">
      <div class="container-md py-5 d-grid gap-4">

         <body>
              <form action="{{ url_for('updateProfile') }}" method="post">
                <div class="mb-3"><input class = "form-control" type="text" value="{{ names.FirstName }}" name="first"></div>
                <div class="mb-3"><input class = "form-control" type="text" value="{{ names.LastName }}" name="last"></div>
                <div class="mb-3">
                    <input class="btn btn-danger btn-sm btn-block" type="submit" value="Update Profile">
                </div>
            </form>
            {{ msg }}
        </body>
      </div>
      </div>
  </div>
</main>

{% endblock %}
