{% extends 'layout.html' %}

{% block title %}Vehicle Profile{% endblock %}

{% block content %}

<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <div class="d-grid gap-2 d-md-block">
      <div> <a class="btn btn-secondary btn-sm btn-block" href="{{ url_for('viewVehicles') }}"><i class="fas fa-user"></i>Back</a></div>
      </div>
    </header>

    <div class="p-5 mb-4 bg-light border rounded-3 text-center container">
      <div class="container-md py-5 d-grid gap-4">
        <h2 class="fw-bold">{{ vehicle.VehicleID }}</h2>
        <table class="table table-striped table-hover table-bordered table-responsive">
          <thead>
          <tr>
            <th scope="col">Vehicle ID</th>
            <th scope="col">VIN Number</th>
            <th scope="col">License Plate</th>
            <th scope="col">Mileage</th>
          </tr>
          </thead>

          <tbody>
            <tr>
                <td>{{ vehicle.VehicleID }}</td>
                <td>{{ vehicle.VIN }}</td>
                <td>{{ vehicle.LicensePlate }}</td>
                <td>{{ vehicle.Mileage }}</td>
            </tr>
          </tbody>
        </table>
        {% if type == 'Admin' %}
        <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-danger btn-sm btn-block" href="{{ url_for('deleteVehicle') }}" role="button" onclick="return confirm('Are you sure you want to delete this vehicle?')">Delete Vehicle</a>
        </div>
        {% endif %}
        <h2>Maintenance</h2>
        <table class="table table-striped table-hover table-bordered table-responsive">
              <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Mileage</th>
                <th scope="col">Services</th>
                <th scope="col">Requested By</th>
                <th scope="col">Notes</th>

              </tr>
              </thead>
                  {% for entry in entries %}
              <tbody>
                <tr>
                  <td>{{ entry.EntryDate }}</td>
                  <td>{{ entry.MileageAtTime }}</td>
                  <td>
                    {% for service in serviceList %}
                    {% if service.Entry == entry.EntryID %}
                    {{ service.Service }}<br>
                    {% endif %}
                    {% endfor %}
                  </td>
                  <td>{{ entry.Requester }}</td>
                  <td>
                    {% for note in noteList %}
                    {% if note.Entry == entry.EntryID %}
                    {{ note.NoteText }}
                    {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              </tbody>
                {% endfor %}
            </table>
        <div> <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('addEntry') }}">Add Maintenance</a></div>

      </div>
    </div>
    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; Truck Tracker 2021-2030
    </footer>
  </div>
</main>

{% endblock %}
